svg     {background-color: gray;}
.feladat {background-color: rgba(201, 201, 201, 0.438);}
#f1     {background-color: lightgray; border-radius: 25px; box-shadow: 10px colo; width: 200px;text-align: center;}
#f2     {background-color: lightgray; border-radius: 25px; box-shadow: 10px colo; width: 200px;text-align: center;}